@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;  
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-content: flex-start;
    background: url(../asset/hotels.png);
    background-size:cover;
}

.banner .content{
    max-width: 900px;
    margin: 0 8%;
}
.banner .hasTag{
    font-size: 3.125rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
    margin-top: 30%;
    text-shadow: 3px 2px 1px rgb(7,7,7);
}
.banner .content h2{
    font-size: 3em;
    color: #fff;
    text-shadow: 3px 2px 1px rgb(7,7,7);
}
.banner .content p{
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 2px 1px rgb(7, 7, 7);
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #7599b4 ;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    border: 0;
}
.btn:hover{
    letter-spacing: 6px;
}

.btn2{
    font-size: 1em;
    color: #fff;
    background: #7599b4 ;
    padding: 40px 60px;
    text-decoration: none;
    transition: 0.5s;
}
.btn2:hover{
    letter-spacing: 1px;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: white;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: white;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color:  #7599b4 ;;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 400px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color:  #7599b4 ;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background:#7599b4 ;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
header .logo{
    color: #7599b4 ;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #fff;
    background-image: url('../asset/Logo.png');
}
header .logo span{
    color:#7599b4 ;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style : none;
    margin-left: 22.5px;
}
header.sticky .navigation li a{
    color: #fff;
}
header .navigation li a{
    text-decoration: none;
    color: #051a29 ;
    font-weight: 500;
    font-size: larger;
}
header .navigation li a:hover{
    color:#fff
}

.ID-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.ID-form {
    /* width: 50%; */
    text-align: center;
    padding: 20px;
    
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    background-color: #fff;
    gap: 20px;
}

.book-now {
    text-align: center;
    margin-top: 6px;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
}

.photo {
    width: 250px;
    background-color:#7599b4 ;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;

}

.photo p {
    margin-top: 10px;
    font-size: 16px;
}

footer {
    width: 100%;
    display: inline-block;
    background: #7599b4 ;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10vh;
}

.footer-distributed{
	background: #7599b4 ;
	box-shadow: 0 1px 1px 0 #111;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'Poppins';
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}

/* The company logo */

.footer-distributed h3{
	color:  #fff;
	font: normal 36px 'Poppins';
    font-weight: 700;
	margin: 0;
}

.footer-distributed h3 span{
	color: #7599b4 ;
    font-weight: 800;
    font-style:italic;

}
/* Footer links */

.footer-distributed .footer-links{
	color:  #fff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #111;
	color: #fff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:17px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: #7599b4 ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #111;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.button{
    background-color:#7599b4 ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #7599b4 ;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
}



.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #7599b4 ;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}

h5 {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 120px;
    padding: 0;
    box-sizing: border-box;
    color: #7599b4 ;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 135%;
    text-align: center;
}

.location-content1 {
    display: flex;
    justify-content: center;
    background-color:#7599b4 ;
    border-radius: 50px;
    color: white;
    width: auto;
    height: 400px;
    margin: 0 100px;
    padding: 15px 50px;
}

.location-content1>h4 {
    font-size: 20px;
    font-weight: bold;
}

.boxlocation>h4>p {
    color: white;
    font-size: 15px;
    font-weight: 400px;
    opacity: 0.8;
}

.boxlocation>img {
    padding-top: 20px;
    margin: 10px 10px;
}

.location-content1>.boxlocation {
    width: 500px;
    height: 270px;
    display: flex;
    justify-content: center;
}

.mobile-menu {
	float: right;
	display: none;
	padding:18px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width:300px;
	background-color: rgba(16, 47, 80, .9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding:24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #F84744;
}
#check:checked ~ .sidebar {
	left: 0;
}

/* --------------.section 2----------------- */

.judul{
    background-color: #7599b4;
    text-align: center;
    font-size: xx-large;
    color: white;
    margin-top: 20px;
    margin-bottom: 0%;
  }
  
  
  .section-title {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color:#7599b4 ;
    color: white;
  }
  
  .group-title {
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    font-style: italic;
  }
  
  .member-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px 10%;
    background-color: #ffffff;
  }
  
  .member-card > article {
    box-shadow: 0px 8px 8px 0 rgba(0 0 0 2);
    border-radius: 8px;
    text-align: center;
    background:#7599b4 ;
    width: 280px;
    height: 480px;
    transition: 0.2s transform;
    cursor: pointer;
  }
  
  article > img {
    max-width: 65%;
    margin-top: 20px;
  }
  
  .dekripsi-member h2 {
    margin: 0;
    font-size: xx-large;
  }
  
  
  /* Media query untuk mode mobile */
  
  @media (max-width: 768px) {
    .Section-2 .comment-container {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
    }
  
    .member-card {
      margin-top: 30px;
    }
  }
  
  .Section-2 .comment-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    /* Tambahan CSS untuk ikon menu hamburger */
    .menu-icon {
      display: block;
      /* Menampilkan ikon hanya pada mode mobile */
      font-size: 30px;
      cursor: pointer;
    }
    /* Mengatur tampilan "Section 1" pada mode mobile */
    .content-container {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
    .text-container {
      text-align: center;
      padding: 20px;
    }
    .text-container button {
      margin: 10px;
    }
    .image-container {
      text-align: center;
      padding: 20px;
    }
  
    .Section-1 .image-container img {
      width: 100%;
      max-width: 300px;
      height: auto;
      /* margin: 0 10px; */
    }
  
    .image-container img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  
    .Section-2 .comment-container {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
    }

@media (max-width: 880px) {

    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 50%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #7599b4 ;
    }
    header .navigation li{
        margin-left: 0; 
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }
    header .navigation li a:hover{
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle{
        position: relative;
        width: 50px;
        height: 50px;
        background:url(../asset/menu.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .banner{
        background: url(../asset/hotels.png);
        background-size:cover;
    }

    header.sticky .menuToggle{
        filter: invert(1)
    }
    .menuToggle.active{
        background:url(../asset/close.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
	.footer-distributed{
		font: bold 14px sans-serif;
	}

    .container .hasTag{
        display: none;
    }

    h2 {
        font-size: 25px;
    }

    .location-content1 {
        margin: 0 20px;
        padding: 0 20px;
        flex-direction: column;
        text-align: center;
        height: 530px;
        width: auto;
        align-items: center;
    }
    .location-content1>.boxlocation {
        height: 170px;
    }
    .boxlocation>img {
        width: 80px;
        height: 80px;
        padding-top: 50px;
    }

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* CSS untuk perangkat tablet */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .location-content1 {
        margin: 0 40px;
        padding: 15px 30px;
        height: 180px;
    }

    .branding1 p {
    padding-right: 15px;
    }

    .location-content1 .boxlocation {
        height: 200px;
    }

    .boxlocation h4 p {
        font-size: 12px;
    }

    .boxlocation img {
        width: 100px;
        height: 80px;
    }
}

/* Tambahkan gaya untuk tautan aktif
nav ul li a.active {
    background-color: #FAB95B;
    color: #fff;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color:#FAB95B;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #FAB95B;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}
.book-now {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  
}

.book-now h2 {
    font-size: 24px;
}

.book-now p {
    font-size: 16px;
    color: #333;
}

.book-now a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color:  #FAB95B;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.book-now a:hover {
    background-color: #fd9b11;
}

header {
    background-color: #FAB95B;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.ID-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ID-form {
    width: 70%;
    text-align: center;
    padding: 20px;
    
}

#tracking-form {
    margin-top: 20px;
    display: center;
    
}

#tracking-number {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}



button[type="submit"]:hover {
    background-color: #fd9b11;
}

.jumbotron {
    background-image: url('../assets/jumbotron.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 25% 0; 
}

.jumbotron h1 {
    font-size: 36px; 
}

.jumbotron p {
    font-size: 18px; 
    margin-top: 20px; 
}

.jumbotron a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    font-size: 16px; 
    margin-top: 20px; 
}

.jumbotron a:hover {
    background-color: #0056b3;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    background-color: #fff;

    gap: 20px;


}


.photo {
    width: 250px;
    background-color: #FAB95B;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;

}

.photo p {
    margin-top: 10px;
    font-size: 16px;
}



 */