.slide-room {
    background-color: #ffffff;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .slide-room .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .slide-room .overlap {
    position: absolute;
    width: 1440px;
    height: 106px;
    top: 0;
    left: 0;
    background-color: #7599b4;
  }
  
  .slide-room .add-guest-s-room-s {
    position: absolute;
    top: 34px;
    left: 84px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide-room .overlap-group {
    position: absolute;
    width: 57px;
    height: 61px;
    top: 156px;
    left: 957px;
    background-color: #33477b;
  }
  
  .slide-room .text-wrapper {
    width: 22px;
    top: 3px;
    left: 18px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    height: 44px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .div-wrapper {
    position: absolute;
    width: 57px;
    height: 62px;
    top: 264px;
    left: 957px;
    background-color: #33477b;
  }
  
  .slide-room .text-wrapper-2 {
    width: 22px;
    top: 2px;
    left: 18px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    height: 44px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .overlap-2 {
    position: absolute;
    width: 57px;
    height: 61px;
    top: 376px;
    left: 957px;
    background-color: #33477b;
  }
  
  .slide-room .text-wrapper-3 {
    width: 22px;
    top: 0;
    left: 18px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    height: 44px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .text-wrapper-4 {
    position: absolute;
    width: 21px;
    height: 44px;
    top: 164px;
    left: 875px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .text-wrapper-5 {
    height: 43px;
    top: 274px;
    position: absolute;
    width: 21px;
    left: 875px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .text-wrapper-6 {
    height: 44px;
    top: 383px;
    position: absolute;
    width: 21px;
    left: 875px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .overlap-group-2 {
    position: absolute;
    width: 57px;
    height: 61px;
    top: 156px;
    left: 757px;
    background-color: #33477b;
  }
  
  .slide-room .text-wrapper-7 {
    width: 16px;
    top: 4px;
    left: 20px;
    color: #ffffff;
    position: absolute;
    height: 44px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .overlap-3 {
    position: absolute;
    width: 57px;
    height: 62px;
    top: 264px;
    left: 757px;
    background-color: #33477b;
  }
  
  .slide-room .text-wrapper-8 {
    width: 16px;
    top: 9px;
    left: 20px;
    color: #ffffff;
    position: absolute;
    height: 44px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .overlap-4 {
    position: absolute;
    width: 57px;
    height: 61px;
    top: 376px;
    left: 757px;
    background-color: #33477b;
  }
  
  .slide-room .text-wrapper-9 {
    width: 16px;
    top: 1px;
    left: 20px;
    color: #fff8f8;
    position: absolute;
    height: 44px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide-room .text-wrapper-10 {
    position: absolute;
    width: 171px;
    height: 45px;
    top: 421px;
    left: 527px;
    font-family: "Inter-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide-room .text-wrapper-11 {
    position: absolute;
    width: 133px;
    height: 41px;
    top: 378px;
    left: 524px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide-room .text-wrapper-12 {
    position: absolute;
    width: 125px;
    height: 40px;
    top: 275px;
    left: 527px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide-room .text-wrapper-13 {
    position: absolute;
    width: 131px;
    height: 41px;
    top: 174px;
    left: 527px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide-room .children {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 374px;
    left: 427px;
    object-fit: cover;
  }
  
  .slide-room .adult {
    position: absolute;
    width: 75px;
    height: 84px;
    top: 252px;
    left: 429px;
    object-fit: cover;
  }
  
  .slide-room .room {
    position: absolute;
    width: 77px;
    height: 79px;
    top: 156px;
    left: 425px;
    object-fit: cover;
  }
  
  .slide-room .overlap-5 {
    position: absolute;
    width: 186px;
    height: 60px;
    top: 529px;
    left: 605px;
    background-color: #33477b;
    border-radius: 100px;
  }
  
  .slide-room .text-wrapper-14 {
    position: absolute;
    width: 104px;
    height: 39px;
    top: 15px;
    left: 40px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide-room .rectangle {
    position: absolute;
    width: 1440px;
    height: 97px;
    top: 926px;
    left: 0;
    background-color: #7599b4;
  }

  .slide-room .back {
    left: 1150px;
    position: absolute;
    width: 241px;
    top: 560px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    background-color:#547792;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  