html {
  scroll-behavior: smooth;
}

.slide-home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide-home .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1414px;
  height: 3161px;
  position: relative;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 10px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #7599b4 ;
  }
  header.sticky{
    background-color: #7599b4;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  header .logo{
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
  }
  header.sticky .logo{
    color: #fff;
  }
  header .logo span{
    color: white ;
  }
  header .navigation{
    position: relative;
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
  }

  header .navigation li{
    list-style : none;
    margin-left: 30px;
  }
  header.sticky .navigation li a{
    color: #fff;
  }
  header .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
  header .navigation li a:hover{
    color:#fff
  }
  

.slide-home .home {
  position: absolute;
  width: 1456px;
  height: 656px;
  top: 164px;
  left: -24px;
}

.slide-home .overlap-2 {
  position: relative;
  width: 1438px;
  height: 656px;
}

.slide-home .hotel {
  position: absolute;
  width: 1414px;
  height: 656px;
  top: 0;
  left: 24px;
  object-fit: cover;
}

.slide-home .p {
  position: absolute;
  width: 689px;
  top: 100px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: rgb(9, 9, 59);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
  white-space: nowrap;
}

.slide-home .rectangle {
  position: absolute;
  width: 1087px;
  height: 130px;
  top: 511px;
  left: 183px;
  background-color: white;
  border-radius: 100px;
}

.slide-home .text-wrapper-7 {
  width: 131px;
  top: 545px;
  left: 259px;
  position: absolute;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .date {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 583px;
  left: 255px;
}

.slide-home .text-wrapper-8 {
  position: absolute;
  width: 178px;
  top: 594px;
  left: 271px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .malam {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 541px;
  left: 473px;
  object-fit: cover;
}

.slide-home .text-wrapper-9 {
  position: absolute;
  width: 74px;
  top: 593px;
  left: 457px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .text-wrapper-10 {
  width: 147px;
  top: 545px;
  left: 579px;
  position: absolute;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .img {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 583px;
  left: 579px;
}

.slide-home .text-wrapper-11 {
  position: absolute;
  width: 148px;
  top: 594px;
  left: 619px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .room-guest {
  position: absolute;
  width: 203px;
  top: 539px;
  left: 810px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .room-guest-2 {
  position: absolute;
  width: 40px;
  height: 44px;
  top: 573px;
  left: 822px;
  object-fit: cover;
}

.slide-home .text-wrapper-12 {
  position: absolute;
  width: 131px;
  top: 594px;
  left: 866px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .rectangle-2 {
  position: absolute;
  width: 161px;
  height: 39px;
  top: 565px;
  left: 1051px;
  background-color: #4b6683;
  border-radius: 100px;
}

.slide-home .text-wrapper-13 {
  position: absolute;
  width: 124px;
  top: 568px;
  left: 1072px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .location {
  position: absolute;
  width: 1149px;
  height: 552px;
  top: 950px;
  left: 137px;
}

.slide-home .text-wrapper-14 {
  position: absolute;
  width: 322px;
  top: 205;
  left: 406px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .text-wrapper-15 {
  position: absolute;
  width: 1090px;
  top: 120px;
  left: 23px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .jawa {
  position: absolute;
  width: 209px;
  height: 268px;
  top: 257px;
  left: 0;
  object-fit: cover;
}

.slide-home .text-wrapper-16 {
  position: absolute;
  width: 155px;
  top: 551px;
  left: 28px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .sulawesi {
  position: absolute;
  width: 206px;
  height: 267px;
  top: 257px;
  left: 227px;
  object-fit: cover;
}

.slide-home .text-wrapper-17 {
  position: absolute;
  width: 155px;
  top: 552px;
  left: 238px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .papua {
  position: absolute;
  width: 207px;
  height: 261px;
  top: 257px;
  left: 457px;
  object-fit: cover;
}

.slide-home .text-wrapper-18 {
  position: absolute;
  width: 155px;
  top: 549px;
  left: 482px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .sumatra {
  position: absolute;
  width: 213px;
  height: 261px;
  top: 257px;
  left: 688px;
  object-fit: cover;
}

.slide-home .sumatra-2 {
  position: absolute;
  width: 155px;
  top: 549px;
  left: 716px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .kalimantan {
  position: absolute;
  width: 210px;
  height: 261px;
  top: 257px;
  left: 925px;
  object-fit: cover;
}

.slide-home .text-wrapper-19 {
  position: absolute;
  width: 155px;
  top: 547px;
  left: 952px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .facilities {
  position: absolute;
  width: 1230px;
  height: 541px;
  top: 1630px;
  left: 91px;
}

.slide-home .text-wrapper-20 {
  position: absolute;
  width: 329px;
  top: 100;
  left: 456px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .overlap-3 {
  position: absolute;
  width: 590px;
  height: 400px;
  top: 200px;
  left: 0;
  background-color: #7599b4;
}

.slide-home .text-wrapper-21 {
  position: absolute;
  width: 534px;
  top: 66px;
  left: 24px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .text-wrapper-22 {
  position: absolute;
  width: 482px;
  top: 193px;
  left: 26px;
  font-family: "Inter-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .overlap-4 {
  position: absolute;
  width: 162px;
  height: 179px;
  top: 200px;
  left: 634px;
}

.slide-home .rectangle-3 {
  position: absolute;
  width: 151px;
  height: 179px;
  top: 0;
  left: 7px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-23 {
  position: absolute;
  width: 162px;
  top: 133px;
  left: 0;
  transform: rotate(-0.54deg);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .free-wifi {
  position: absolute;
  width: 100px;
  height: 79px;
  top: 27px;
  left: 30px;
  object-fit: cover;
}

.slide-home .overlap-5 {
  position: absolute;
  width: 151px;
  height: 179px;
  top: 200px;
  left: 850px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-24 {
  position: absolute;
  width: 137px;
  top: 132px;
  left: 7px;
  transform: rotate(-0.54deg);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .breakfast {
  position: absolute;
  width: 106px;
  height: 107px;
  top: 13px;
  left: 24px;
  object-fit: cover;
}

.slide-home .overlap-6 {
  position: absolute;
  width: 151px;
  height: 179px;
  top: 200px;
  left: 1061px;
  background-color: #7599b4;
}

.slide-home .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  width: 146px;
  height: 52px;
  top: 122px;
  left: 5px;
}

.slide-home .text {
  position: relative;
  align-self: stretch;
  transform: rotate(-0.54deg);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .span {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
}

.slide-home .exercise-space {
  position: absolute;
  width: 105px;
  height: 106px;
  top: 20px;
  left: 25px;
  object-fit: cover;
}

.slide-home .overlap-7 {
  position: absolute;
  width: 151px;
  height: 179px;
  top: 400px;
  left: 640px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-25 {
  position: absolute;
  width: 139px;
  top: 112px;
  left: 5px;
  transform: rotate(-0.54deg);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .private-workpace {
  position: absolute;
  width: 128px;
  height: 117px;
  top: 0;
  left: 11px;
  object-fit: cover;
}

.slide-home .overlap-8 {
  position: absolute;
  width: 151px;
  height: 179px;
  top: 400px;
  left: 853px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-26 {
  position: absolute;
  width: 110px;
  top: 116px;
  left: 20px;
  transform: rotate(-0.54deg);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .swimming-pool {
  position: absolute;
  width: 117px;
  height: 117px;
  top: 2px;
  left: 16px;
  object-fit: cover;
}

.slide-home .overlap-9 {
  position: absolute;
  width: 151px;
  height: 179px;
  top: 400px;
  left: 1061px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-27 {
  position: absolute;
  width: 121px;
  top: 119px;
  left: 16px;
  transform: rotate(-0.54deg);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .other-service {
  position: absolute;
  width: 129px;
  height: 124px;
  top: 0;
  left: 10px;
  object-fit: cover;
}

.slide-home .contact-us {
  position: absolute;
  width: 1054px;
  height: 512px;
  top: 2351px;
  left: 195px;
}

.slide-home .text-wrapper-28 {
  position: absolute;
  width: 556px;
  top: 20px;
  left: 240px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .text-we-are {
  top: 120px;
  left: 390px;
  position: absolute;
  width: 356px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: black;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .at-gallery-s-hotel {
  position: absolute;
  width: 1036px;
  top: 190px;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .name {
  position: absolute;
  width: 74px;
  top: 265px;
  left: 415px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f3044;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .div-wrapper {
  position: absolute;
  width: 202px;
  height: 42px;
  top: 287px;
  left: 415px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-29 {
  top: 15px;
  left: 19px;
  position: absolute;
  width: 356px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .text-wrapper-30 {
  position: absolute;
  width: 78px;
  top: 349px;
  left: 415px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f3044;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .overlap-10 {
  position: absolute;
  width: 200px;
  height: 42px;
  top: 380px;
  left: 415px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-31 {
  top: 15px;
  left: 13px;
  position: absolute;
  width: 356px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .text-wrapper-32 {
  position: absolute;
  width: 87px;
  top: 440px;
  left: 415px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f3044;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .overlap-11 {
  position: absolute;
  width: 202px;
  height: 69px;
  top: 469px;
  left: 415px;
  background-color: #7599b4;
}

.slide-home .text-wrapper-33 {
  position: absolute;
  width: 347px;
  top: 15px;
  left: 9px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .overlap-12 {
  position: absolute;
  width: 108px;
  height: 34px;
  top: 569px;
  left: 612px;
  background-color: #4b6683;
  border-radius: 6px;
}

.slide-home .text-wrapper-34 {
  position: absolute;
  width: 74px;
  top: 10px;
  left: 17px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .footer {
  position: absolute;
  width: 1424px;
  height: 250px;
  top: 3007px;
  left: 0;
  background-color: transparent;
}

.slide-home .overlap-13 {
  position: relative;
  width: 1414px;
  height: 250px;
  background-color: #7599b4;
}

.slide-home .copyright {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  left: 45px;
  object-fit: cover;
}

.slide-home .text-wrapper-35 {
  position: absolute;
  width: 392px;
  top: 12px;
  left: 85px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .awal {
    position: absolute;
    width: 392px;
    top: 10px;
    left: 570px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
  }

  .slide-home .lokasi {
    position: absolute;
    width: 392px;
    top: 40px;
    left: 570px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
  }


  .slide-home .fasilitas {
    position: absolute;
    width: 392px;
    top: 70px;
    left: 570px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
  }

  .slide-home .kontak {
    position: absolute;
    width: 392px;
    top: 100px;
    left: 570px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
  }

  .slide-home .hello {
    position: absolute;
    width: 392px;
    top: 130px;
    left: 570px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
  }


.slide-home .text-wrapper-36 {
  position: absolute;
  width: 337px;
  top: 15px;
  left: 597px;
  font-family: "Limelight-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .loc {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 52px;
  left: 770px;
  object-fit: cover;
}

.slide-home .mail {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 87px;
    left: 770px;
    object-fit: cover;
  }

.slide-home .text-wrapper-37 {
  position: absolute;
  width: 536px;
  top: 35px;
  left: 805px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-home .text-wrapper-38 {
  position: absolute;
  width: 486px;
  top: 67px;
  left: 805px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.slide-home .telp {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 120px;
    left: 770px;
    object-fit: cover;
  }

.slide-home .text-wrapper-39 {
  position: absolute;
  width: 215px;
  top: 108px;
  left: 805px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
