.slide-sign-in {
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide-sign-in .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.slide-sign-in .overlap {
  position: absolute;
  width: 384px;
  height: 305px;
  top: 36px;
  left: 548px;
}

.slide-sign-in .login {
  position: absolute;
  width: 384px;
  height: 275px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.slide-sign-in .text-wrapper {
  width: 290px;
  top: 272px;
  left: 62px;
  font-size: 32px;
  text-align: center;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-in .guest {
  position: absolute;
  width: 57px;
  height: 32px;
  top: 363px;
  left: 500px;
  object-fit: cover;
}

.slide-sign-in .rectangle {
  width: 372px;
  height: 31px;
  top: 364px;
  left: 569px;
  background-color: #cbd0db;
  position: absolute;
  border-radius: 100px;
}

.slide-sign-in .kunci {
  position: absolute;
  width: 69px;
  height: 51px;
  top: 410px;
  left: 500px;
  object-fit: cover;
}

.slide-sign-in .rectangle-2 {
  width: 372px;
  height: 31px;
  top: 430px;
  left: 569px;
  background-color: #cbd0db;
  position: absolute;
  border-radius: 100px;
}

.slide-sign-in .overlap-group {
  position: absolute;
  width: 123px;
  height: 28px;
  top: 495px;
  left: 688px;
}

.slide-sign-in .rectangle-3 {
  width: 123px;
  height: 27px;
  top: -5px;
  left: 0;
  bottom: 10px;
  background-color: #5d7caf;
  position: absolute;
  border-radius: 100px;
}

.slide-sign-in .text-wrapper-2 {
  position: absolute;
  width: 109px;
  left: 9px;
  mix-blend-mode: color-dodge;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #fff8f8;
  font-size: 16px;
  text-align: center;
  letter-spacing: 5;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-in .text-wrapper-3 {
  position: absolute;
  width: 207px;
  top: 544px;
  left: 577px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-in .text-wrapper-4 {
  width: 93px;
  top: 544px;
  left: 787px;
  font-size: 20px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}