.slide-sign-up {
  background-color: #ffffff;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide-sign-up .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.slide-sign-up .overlap {
  position: absolute;
  width: 536px;
  height: 212px;
  top: 29px;
  left: 473px;
}

.slide-sign-up .login {
  position: absolute;
  width: 285px;
  height: 199px;
  top: 0;
  left: 127px;
  object-fit: cover;
}

.slide-sign-up .text-wrapper {
  position: absolute;
  width: 536px;
  top: 198px;
  left: 0;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .text-wrapper-2 {
  width: 213px;
  top: 251px;
  left: 644px;
  font-size: 32px;
  text-align: center;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .guest {
  position: absolute;
  width: 26px;
  height: 18px;
  top: 300px;
  left: 618px;
  object-fit: cover;
}

.slide-sign-up .overlap-group {
  position: absolute;
  width: 193px;
  height: 22px;
  top: 298px;
  left: 649px;
  background-color: #cbd0db;
  border-radius: 100px;
}

.slide-sign-up .text-wrapper-3 {
  position: absolute;
  width: 60px;
  top: 4px;
  left: 18px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .email {
  position: absolute;
  width: 20px;
  height: 23px;
  top: 336px;
  left: 621px;
  object-fit: cover;
}

.slide-sign-up .div-wrapper {
  position: absolute;
  width: 193px;
  height: 22px;
  top: 337px;
  left: 649px;
  background-color: #cbd0db;
  border-radius: 100px;
}

.slide-sign-up .text-wrapper-4 {
  position: absolute;
  width: 60px;
  top: 3px;
  left: 18px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .kunci {
  position: absolute;
  width: 37px;
  height: 21px;
  top: 376px;
  left: 612px;
  object-fit: cover;
}

.slide-sign-up .overlap-2 {
  position: absolute;
  width: 193px;
  height: 21px;
  top: 376px;
  left: 649px;
  background-color: #cbd0db;
  border-radius: 100px;
}

.slide-sign-up .overlap-3 {
  position: absolute;
  width: 128px;
  height: 18px;
  top: 414px;
  left: 682px;
  background-color: #5d7caf;
  border-radius: 100px;
}

.slide-sign-up .text-wrapper-5 {
  position: absolute;
  width: 80px;
  top: 0;
  left: 28px;
  mix-blend-mode: color-dodge;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #fff8f8;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .overlap-group-2 {
  position: absolute;
  width: 240px;
  height: 20px;
  top: 454px;
  left: 608px;
}

.slide-sign-up .text-wrapper-6 {
  position: absolute;
  width: 179px;
  top: 0;
  left: 0;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .text-wrapper-7 {
  width: 68px;
  top: 0;
  left: 172px;
  font-size: 20px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .overlap-4 {
  position: absolute;
  width: 144px;
  height: 50px;
  top: 554px;
  left: 999px;
}

.slide-sign-up .rectangle {
  position: absolute;
  width: 144px;
  height: 50px;
  top: 0;
  left: 80;
  background-color: #7599b4;
}

.slide-sign-up .text-wrapper-8 {
  position: absolute;
  top: 2px;
  left: 42px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide-sign-up .back {
    left: 1100px;
    position: absolute;
    width: 241px;
    top: 560px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    background-color:#547792;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .slide-sign-up .back {
    left: 1100px;
    position: absolute;
    width: 241px;
    top: 560px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    background-color:#547792;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
