    body {
    width: 100%;
    height: auto;
    background-color: linear-gradient(rgb(22, 22, 75) ,#7599b4, rgb(255, 255, 255));
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* overflow-x: hidden; */
}

.content-container {
    display: flex;
    justify-content: center;
    background-color: #7599b4 ;
    padding: 100px 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.branding1 {
    margin: 0 20px;
    padding-top: 0px;
}

.branding1>h2 {
    text-align: left;
}

.branding1>p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
}

.branding1 a button {
    padding: 5px 30px;
    font-weight: 500px;
    line-height: 2;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: rgb(40, 40, 118);
    color: white;
}

h1 {
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 10px 0;
    text-align: center;
    background-color: #7599b4;
    color: white;
}

h2 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    color:rgb(40, 40, 118);
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 135%;
    text-align: center;
}

/* CSS untuk perangkat Mobile*/

@media screen and (max-width: 768px) {
    .content-container {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .branding1 {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .branding1 p {
        padding: 0 5px;
    }
    .branding1 h2 {
        text-align: center;
    }
    .banner2 img {
        margin-top: 100px;
        max-width: 100%;
        height: auto;
    }
    .branding1 button {
        padding: 15px 70px;
    }
    h2 {
        font-size: 30px;
    }
}


/* CSS untuk perangkat tablet */

    @media screen and (min-width: 769px) and (max-width: 1024px) {
    .content-container {
        width: auto;
    }
    .branding1 {
        padding-top: 50px;
    }
    .branding1 p {
        padding: 0;
    }
    .banner2 img {
        width: 550px;
        height: auto;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    /*animation slide*/
    .slide-image {
        position: absolute;
        width: 490px;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.1s, transform 0.5s;
    }

    .slide-in {
        opacity: 1;
        transform: translateX(0);
    }

    .slide-out {
        opacity: 0;
        transform: translateX(100%);
    }
    
}


/* CSS untuk perangkat tablet */

@media screen and (min-width: 1024px) and (max-width: 1250px) {
    .content-container {
        width: auto;
    }
    .branding1 {
        padding-top: 100px;
    }

    .branding1 h2 {
        font-size: 27px;
    }

    .branding1 p {
        padding: 0;
        font-size: 15px;
    }
}

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    font-size: x-large;
    width: 100%;
    background-color: #f44336;
  }
      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        .cancelbtn {
          width: 100%;
        }
      }